

.player-cell{
    border:2px solid black;
    border-radius: 10px;
    background-color: #fad7d7;
    padding:10px;
    text-align: center;
    height: 200px;
    min-width: 200px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
